
.brand{
    border-bottom: solid 1px #e0e0e0;
    padding: 15px 15px 15px 0;
    margin-left: 15px;
    
    // cursor: pointer;
    h1{
        font-size: 20px;
        cursor: pointer;
    }

    .brand-colors{
        display: flex;

        span{
            background: var(--bgColor);
            width: 100%;
            height: 40px;
            padding: 8px;
            margin: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            font-weight: 500;
            color: var(--textColor);
            text-indent: -9999px;
            width: 60px;
            cursor: pointer;
        }
    }

}
.selected{
    border: solid 1px ;
    border-color: red;
    .brand-colors{
        span{
            flex:1;
            text-indent: 0;
        }
    }

    .checkIcon{
        visibility: visible;
        color: #2196f3;
        display: block;
    svg{
        width: 24px;
        height: 24px;
        color: #2196f3;
    }
    }
    
}

.checkIcon{
    margin: 0;
    padding: 0;
    opacity: 1;
    visibility: hidden;
    color: #2196f3;
}